// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("https://fonts.googleapis.com/css?family=Karla");

$green: #7ed3b2;

h1 ,h2 {
 font-family: 'Karla', sans-serif;
 text-align: center;
}

.letter-grid {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Karla', sans-serif;

  div{
    display: flex;
    margin: 8px;
    width: 40px;
    height: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    border: 1px solid $green;
    justify-content: space-around;
    align-items: center;
    background-color: #c6e377;
  }
}

.btn {
  background-color: $green;
  border: $green;
}
